body {
	background: url('avion.jpg') no-repeat;
	background-size: 100% 100%;
	text-align:center;
}

header {
	margin:0 auto;
}
header h1 {color:lightgreen; text-align:center;}

#result {color:yellow;}



footer {margin-top:5%; color:darkorange; font-size:120%;}

